<div class="container mt-2 mb-5 form">
  <div class="row">
    <h2 style="font-family: 'Times New Roman', Times, serif">Upload File</h2>
    <form>
      <div class="form-group">
        <label for="samplefile">Sample File:</label>
        <input type="file" class="form-control" id="samplefile" name="samplefile" value="sample" accept=".xlsx">
      </div>
      <button class="btn btn-primary btn-block" (click)="excel()" value="Upload" ng-disabled="slideForm.$invalid">Upload</button>
    </form>
  </div>
</div>
