<div class="col-12 mt-5">
  <div class="col-offset-4 mt-5 container-fluid col-4 form" style="background-color: aquamarine">
    <div class="">
      <form>
        Sample File:
        <br>
        <input type="file" id="files1" name="samplefile" value="sample" accept=".xlsx">
        <br>
        <br> Global Marketing:
        <br>
        <input type="file" id="files" name="globalmarket" value="global" accept=".xlsx">
        <br>
        <br>
        <input class="btn btn-success" (click)="excel()||exec()" value="Upload">
      </form>
    </div>
  </div>
</div>
